.content-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0px solid rgb(185, 185, 185);
    color: #2b2b2b;
}

.content-form p {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 15px;
    padding-bottom: 25px !important;

}

.form-content {
    border: 0px solid black;
    padding: 4px;
    margin-top: 14px;
}

.form-content,
p {
    border: 0px solid rgb(95, 95, 95);
    padding: 0px;
    padding-bottom: 0 !important;
    color: #7e7e7e;
    font-weight: bold;
}

label {
    font-weight: 100;
}

.content-body {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.content-body,
.content-mensagem p {
    margin: unset;

}

.content-mensagem {
    width: 100%;
    padding: unset;

}

.content-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;

}

.content-imagem {
    margin-left: 5px;
    padding: 2px;
}

.content-imagem img {
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

input,
#nome {
    width: 100%;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-color: 1px solid #ffffff !important;
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 10px;
    padding-left: 10px;
    color: #929292;


}

input[type="text"]:focus {
    outline: none;
    color: #929292;
    transition-duration: 2s;
    /* How long the transition takes */

}

#form-inpt {
    border: 1px solid #ffffff !important
}


.input-success{
    
    
    --bs-bg-opacity: 1;
    border: 1px solid rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    color: #929292;
}


.input-error  {
   
 
    color: #929292;
    --bs-bg-opacity: 1;
    border: 1px solid rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important; 
}

input[type="checkbox"]:hover {
    border: 1px solid #929292;

}

input[type="checkbox"]:focus {
    border: 1px solid #929292;

}

input[type="checkbox"],
.p-modal {
   
    height: 15px;
    margin-bottom: 10px;
    width: 15px;
      font-weight: 500;
}
strong{
     font-weight: bold;
}
input[type="submit"] {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    border: unset;
    color: white;
    padding: 10px;
    
}

label a {
    text-decoration: none;
}

#btnSubmit {
    margin: 10px 0 5px 0;


}
#carrinho-display{
    display: flex;
  
   margin-top: 2px;
    align-items: center;
    min-width: 100px;
    justify-content: space-between;


}
#carrinho-display > div{
    font-size: 18px;
    font-weight: bold;
    color:white;
  
    margin-left:5px;
   
}